<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

    <!-- <logger name="reactor.netty.http.client.HttpClientConnect$HttpObserver" level="ERROR" /> -->

</configuration>
